{% extends 'base.html' %}

{% load static %}

{% block header_image %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{% static 'images/pte.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">

                                <h1>Physical Education</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
  <h1>Physical Education</h1>
<p>Physical Training Department: Igniting Vitality, Cultivating Strength. At the forefront of fitness and wellness, our Physical Training Department is dedicated to nurturing a healthy and active lifestyle. Experience expert guidance, state-of-the-art facilities, and personalized fitness programs.
    </p>
<p>Unleash your potential, enhance your well-being, and embark on a journey to a stronger, healthier you.</p>

{% endblock %}
